In [50]:
from __future__ import print_function, division
import geopandas as gp
import pandas as pd
import os
import json
import pylab as pl
from pandas.tools.plotting import scatter_matrix
import statsmodels.api as sm
import statsmodels.formula.api as smf
import datetime as dt

try:
    import urllib2 as urllib
except ImportError:
    import urllib.request as urllib
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [53]:
# Reading in guns data
furl = 'https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/HW5_fb55/World' +\
    '%20firearms%20murders%20and%20ownership%20-%20Sheet%201.csv'
guns = pd.read_csv(furl)
guns.columns

Index(['Country/Territory', 'ISO code', 'Source', '% of homicides by firearm',
       'Number of homicides by firearm',
       'Homicide by firearm rate per 100,000 pop', 'Rank by rate of ownership',
       'Average firearms per 100 people',
       'Average total all civilian firearms'],
      dtype='object')

In [57]:
# We only want Country/Territory, Average total all civilian firearms, and Number of homicides by firearm
guns = guns[['Country/Territory', 'Average total all civilian firearms', 'Number of homicides by firearm']]
guns = guns.rename(columns={'Country/Territory' : 'Country'})
guns.head()

,Country,Average total all civilian firearms,Number of homicides by firearm
0,Albania,270000.0,56.0
1,Algeria,1900000.0,20.0
2,Angola,2800000.0,NaN
3,Anguilla,NaN,1.0
4,Argentina,3950000.0,1198.0

2304

BK_Dcp_Mappinglot.dbf	   BKMapPLUTO.BBL.atx	   BKMapPLUTO.shp
BK_Dcp_Mappinglot.prj	   BKMapPLUTO.CD.atx	   BKMapPLUTO.shp.xml
BK_Dcp_Mappinglot.sbn	   BKMapPLUTO.dbf	   BKMapPLUTO.shx
BK_Dcp_Mappinglot.sbx	   BKMapPLUTO.LandUse.atx  BKMapPLUTO.ZoneDist1.atx
BK_Dcp_Mappinglot.shp	   BKMapPLUTO.prj	   bk_pluto.dbf
BK_Dcp_Mappinglot.shp.xml  BKMapPLUTO.sbn	   bk_pluto.dbf.xml
BK_Dcp_Mappinglot.shx	   BKMapPLUTO.sbx	   PLUTODD16v2.pdf

Archive:  bk_mappluto_16v2.zip
replace /home/cusp/cm4698/PUIdata/PLUTODD16v2.pdf? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area,geometry
0,BK,7036,23,313,336,None,21,47,11224,E318,...,32104,None,0.000000e+00,None,1,16V2,0,1008.659562,48254.897890,"POLYGON ((980812.9622000009 149656.1661999971,..."
1,BK,7037,45,313,336,None,21,47,11224,E318,...,32104,None,0.000000e+00,None,1,16V2,0,466.778463,12182.420391,"POLYGON ((980811.0732000023 149338.8654000014,..."
2,BK,8696,70,313,352,1002,21,47,11224,E245,...,32601,None,0.000000e+00,None,1,16V2,0,489.556780,2235.111932,"POLYGON ((990137.3931999952 148647.5088, 99011..."
3,BK,7029,84,313,336,2004,21,47,11224,E318,...,32104,None,0.000000e+00,None,1,16V2,0,260.717734,3979.291146,"POLYGON ((982935.4722000062 148654.2924000025,..."
4,BK,7049,115,313,342,3000,21,47,11224,E318,...,32104,None,3.070490e+09,12/19/2000,1,16V2,0,181.786006,1683.769587,"POLYGON ((984932.7683999985 148737.0093999952,..."

(276909, 88)